<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <!-- main style -->
    <link rel="stylesheet" href="./main.css" />
    <title>Home</title>

    <style>
      /* Style for the table */
      table {
        width: 100%;
        max-width: 800px; /* Set maximum width if needed */
        margin: 0 auto; /* Center the table */
      }
      
      /* Style for table cells */
      td {
        padding: 8px;
      }
      
      /* Style for input and textarea */
      input[type="text"],
      textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 14px;
      }
      
      /* Style for submit button */
      .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 14px;
      }
      
      /* Style for placeholder text */
      ::placeholder {
        color: #999;
      }
      
      /* Hover effect for buttons */
      .btn-primary:hover {
        background-color: #0056b3;
      }
    </style>
  </head>


  <body class="bg-gray postion-relative">
    <!-- ================= Appbar ================= -->
    <div
      class="bg-white d-flex align-items-center fixed-top shadow"
      style="min-height: 56px; z-index: 5"
    >
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- search -->
          <div class="col d-flex align-items-center">
            <!-- logo -->
                <img th:src="@{/images/mtlog.jpg}" alt="App-logo" /> 
            <!-- search bar -->
            
            </div>
          </div>
          <!-- nav -->
          <div class="col d-none d-xl-flex justify-content-center">
            
           
            
            
          </div>
          <!-- menus -->
          <div class="col d-flex align-items-center justify-content-end">
            <!-- avatar -->
            <div
              class="align-items-center justify-content-center d-none d-xl-flex"
            >
              
              <p class="m-0"><b><span th:text="${firstName}"></span></b></p>
            </div>
            <!-- main menu -->
         
           

            <div
              class="
                rounded-circle
                p-1
                bg-gray
                d-flex
                align-items-center
                justify-content-center
                mx-2
              "
              style="width: 38px; height: 38px"
              type="button"
              id="notMenu"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-auto-close="outside"
            >
              <i class="fas fa-bell"></i>
            </div>
            <!-- notifications dd -->
            <ul
              class="dropdown-menu border-0 shadow p-3"
              aria-labelledby="notMenu"
              style="width: 23em; max-height: 600px; overflow-y: auto"
            >
              <!-- header -->
              <li class="p-1">
                <div class="d-flex justify-content-between">
                  <h2>Notifications</h2>
                  <div>
                    <i
                      class="
                        fas
                        fa-ellipsis-h
                        pointer
                        p-2
                        rounded-circle
                        bg-gray
                      "
                      type="button"
                      data-bs-toggle="dropdown"
                    ></i>
                    <ul class="dropdown-menu">
                      <li
                        class="dropdown-item d-flex align-items-center"
                        type="button"
                      >
                        <i class="fas fa-check me-3 text-muted"></i>
                        <p class="m-0">Mark all as read</p>
                      </li>
                    </ul>
                  </div>
                </div>
             
              </li>
              <!-- notification -->
  
              <!-- notification 1 -->
              <li class="my-2 p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    justify-content-evenly
                    text-decoration-none text-dark
                  "
                >
                  <div class="d-flex align-items-center justify-content-evenly">
                    <div class="p-2">
                      <img
                        src="/images/profile.jpg"
                        alt="avatar"
                        class="rounded-circle"
                        style="width: 58px; height: 58px; object-fit: cover"
                      />
                    </div>
                    <div>
                      <p class="fs-7 m-0">
                        Cleaner is needed urgently around pretoria north. Price is negotiable.
                      </p>
                      <span class="fs-7 text-primary">about an hour ago</span>
                    </div>
                  </div>
                  <i class="fas fa-circle fs-7 text-primary"></i>
                </a>
              </li>
              <!-- notification 2 -->
              <li class="my-2 p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    justify-content-evenly
                    text-decoration-none text-dark
                  "
                >
                  <div class="d-flex align-items-center justify-content-evenly">
                    <div class="p-2">
                      <img
                        src="/images/profile.jpg"
                        alt="avatar"
                        class="rounded-circle"
                        style="width: 58px; height: 58px; object-fit: cover"
                      />
                    </div>
                    <div>
                      <p class="fs-7 m-0">
                        Plumber, is needed around Soshanguve Block L. Maximum price is R3000.
                      </p>
                      <span class="fs-7 text-primary">2 days ago</span>
                    </div>
                  </div>
                  <i class="fas fa-circle fs-7 text-primary"></i>
                </a>
              </li>
            </ul>
            <!-- secondary menu -->
            <div
              class="
                rounded-circle
                p-1
                bg-gray
                d-flex
                align-items-center
                justify-content-center
                mx-2
              "
              style="width: 38px; height: 38px"
              type="button"
              id="secondMenu"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              data-bs-auto-close="outside"
            >
              <i class="fas fa-caret-down"></i>
            </div>
            <!-- secondary menu dd -->
            <ul
              class="dropdown-menu border-0 shadow p-3"
              aria-labelledby="secondMenu"
              style="width: 23em"
            >
            
              <!-- 4 -->
              <li class="dropdown-item p-1 my-3 rounded" type="button">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a th:href="@{/logout}"
                   
                      class="d-flex text-decoration-none text-dark"
                    >
                      <i class="fas fa-cog bg-gray p-2 rounded-circle"></i>
                      <div
                        class="
                          ms-3
                          d-flex
                          justify-content-between
                          align-items-center
                          w-100
                        "
                      >
                        <p class="m-0">Log Out</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- end -->
          </div>
        </div>
      </div>
    </div>
  
   <br>

    <!-- ================= Main ================= -->
    <div class="container-fluid">
      <div class="row justify-content-evenly">
        <!-- ================= Sidebar ================= -->
        <div class="col-14 col-lg-8">
          <div
            class="d-none d-xxl-block h-100 fixed-top overflow-hidden scrollbar"
            style="max-width: 360px; width: 100%; z-index: 4"
          >
            <ul
              class="navbar-nav mt-4 ms-3 d-flex flex-column pb-5 mb-5"
              style="padding-top: 56px"
            >
              <!-- ===========jobs list tittle starts============= -->           
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  mt-2
                  text-muted
                  edit-heading
                "
              >
                  <h4 class="m-0 pointer">Common list of jobs offered</h4>
                  <div
                      class="modal fade"
                      id="shortCutModal"
                      tabindex="-1"
                      aria-labelledby="shortCutModalLabel"
                      aria-hidden="true"
                      data-bs-backdrop="false"
                  >    
                  </div>
              </div>
              <!-- ============jobs list tittle end=============== --> 
              <hr class="m-0" />
              <!-- ============jobs list  start=============== -->
              <li class="dropdown-item p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  "
                >
                  <div class="p-2">
                    <img
                      src="/images/profile.jpg"
                      alt="from fb"
                      class="rounded border border-1 border-secondary"
                      style="width: 38px; height: 38px; object-fit: cover"
                    />
                  </div>
                  <div>
                    <p class="m-0">Cleaner</p>
                  </div>
                </a>
              </li>
              <!-- ============jobs list  end=============== -->
              <!-- ============jobs list  start=============== -->
              <li class="dropdown-item p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  "
                >
                  <div class="p-2">
                    <img
                      src="/images/profile.jpg"
                      alt="from fb"
                      class="rounded border border-1 border-secondary"
                      style="width: 38px; height: 38px; object-fit: cover"
                    />
                  </div>
                  <div>
                    <p class="m-0">Painting</p>
                  </div>
                </a>
              </li>
              <!-- ============jobs list  end=============== -->
              <!-- ============jobs list  start=============== -->
              <li class="dropdown-item p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  "
                >
                  <div class="p-2">
                    <img
                      src="/images/profile.jpg"
                      alt="from fb"
                      class="rounded border border-1 border-secondary"
                      style="width: 38px; height: 38px; object-fit: cover"
                    />
                  </div>
                  <div>
                    <p class="m-0">Electricity</p>
                  </div>
                </a>
              </li>
              <!-- ============jobs list  end=============== -->
              <!-- ============jobs list  start=============== -->
              <li class="dropdown-item p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  "
                >
                  <div class="p-2">
                    <img
                      src="/images/profile.jpg"
                      alt="from fb"
                      class="rounded border border-1 border-secondary"
                      style="width: 38px; height: 38px; object-fit: cover"
                    />
                  </div>
                  <div>
                    <p class="m-0">Plumbing</p>
                  </div>
                </a>
              </li>
              <!-- ============jobs list  end=============== -->
              <!-- ============jobs list  start=============== -->
              <li class="dropdown-item p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  "
                >
                  <div class="p-2">
                    <img
                      src="/images/profile.jpg"
                      alt="from fb"
                      class="rounded border border-1 border-secondary"
                      style="width: 38px; height: 38px; object-fit: cover"
                    />
                  </div>
                  <div>
                    <p class="m-0">Garderning</p>
                  </div>
                </a>
              </li>
              <!-- ============jobs list  end=============== -->
              <!-- ============jobs list  start=============== -->
              <li class="dropdown-item p-1">
                <a
                  href="#"
                  class="
                    d-flex
                    align-items-center
                    text-decoration-none text-dark
                  "
                >
                  <div class="p-2">
                    <img
                      src="/images/profile.jpg"
                      alt="from fb"
                      class="rounded border border-1 border-secondary"
                      style="width: 38px; height: 38px; object-fit: cover"
                    />
                  </div>
                  <div>
                    <p class="m-0">Thutching roofing</p>
                  </div>
                </a>
              </li>
              <!-- ============jobs list  end=============== -->
            <!-- ============jobs list  start=============== -->
            <li class="dropdown-item p-1">
              <a
                href="#"
                class="
                  d-flex
                  align-items-center
                  text-decoration-none text-dark
                "
              >
                <div class="p-2">
                  <img
                    src="/images/profile.jpg"
                    alt="from fb"
                    class="rounded border border-1 border-secondary"
                    style="width: 38px; height: 38px; object-fit: cover"
                  />
                </div>
                <div>
                  <p class="m-0">Carpentry</p>
                </div>
              </a>
            </li>
            <!-- ============jobs list  end=============== -->
            <!-- ============jobs list  start=============== -->
            <li class="dropdown-item p-1">
              <a
                href="#"
                class="
                  d-flex
                  align-items-center
                  text-decoration-none text-dark
                "
              >
                <div class="p-2">
                  <img
                    src="/images/profile.jpg"
                    alt="from fb"
                    class="rounded border border-1 border-secondary"
                    style="width: 38px; height: 38px; object-fit: cover"
                  />
                </div>
                <div>
                  <p class="m-0">Landscaping</p>
                </div>
              </a>
            </li>
            <!-- ============jobs list  end=============== -->
          </div>
        </div>
      <!-- ========-Post Jobs start-============= -->
        <div class="col-15 col-lg-9 pb-5 ">
          <div
            class="d-flex flex-column justify-content-center w-100 mx-auto"
            style="padding-top: 56px; max-width: 680px"
          >
           
          <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
            <div class="bg-white p-3 mt-3 rounded border shadow">
              <!-- avatar -->
              <div class="d-flex" type="button">
                <div class="p-1">
                  <img
                    th:src="@{/images/profile.jpg}"
                    alt="avatar"
                    class="rounded-circle me-2"
                    style="width: 38px; height: 38px; object-fit: cover"
                  />
                </div>
                <form th:action="@{/post}" method="post">
                  <table>
                     <tr>
                       <td>
                          <input type="text" class="form-control  border-0bg-gray pointer"
                          name= "jobTitle" placeholder="Job Title" required=""
                          />  
                       </td>

                        <td>
                          <textarea class="form-control" name="postContent" placeholder="Job discription" rows="1" required=""></textarea>
                        </td>
                        <td colspan="4"></td>
                        <td>            
                          <button type="submit" class="btn btn-primary">Post</button>
                        </td>
                     </tr>
                  </table>
                </form>
              </div>     
            </div>
            <!-- ========-Post Jobs end-============= -->

            <!-- ===========-view posts start-============ -->  
           
            <div th:each="post : ${posts}">
              <div class="container">
                  <div class="card mt-4">
                      <div class="card-body">
                          <h2 class="card-title">Title: <span th:text="${post.jobTitle}"></span></h2>
                          <p class="card-text">Description: <span th:text="${post.content}"></span></p>
                          <p class="card-text">Posted by <span th:text="${post.authorFirstName}"></span> on <span th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy')}"></span></p>
                          <form th:action="@{/apply}" method="post">
                              <input type="hidden" name="postId" th:value="${post.id}" />
                              <button type="submit" class="btn btn-primary">Apply</button>
                            </form>
                            <!-- <form th:action="@{/chat}" method="post">
                              <input type="hidden" name="postId" th:value="${post.id}" />
                              <button type="submit" class="btn btn-primary">Message</button>
                          </form> -->  
                      </div>
                  </div>
              </div>
          </div>
          

            <!-- ===========-view posts end-============ -->
          </div>
        </div>
        <!-- ========-Post Jobs end-============= -->
       
      <!-- ============-Chats end-============== -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src=""></script>
  </body>
</html>
